ErrorDocument 404 /404.html

RewriteEngine On
RewriteBase /

# Opening .../feed/ should load feed.xml (as it did with wordpress)
DirectoryIndex index.html
DirectorySlash off

# Allow existing files right awawy
RewriteCond %{REQUEST_FILENAME} -f 
RewriteRule ^(.*)$ - [L]

# Don't rewrite the /isso path, it's passed through to reverse proxy
RewriteRule ^/isso(.*)$ - [QSA,L]

# Redirect old nested Wordpress categories to their new URLs
RewriteRule ^category/kde/akONADI(.*)$ /category/akonadi$1 [L]
RewriteRule ^category/kde/telepathy(.*)$ /category/telepathy$1 [L]
RewriteRule ^category/kde/akonadi-google(.*)$ /category/akonadi-google$1 [L]
RewriteRule ^category/gnome/evolution(.*)$ /category/evolution/$1 [L]

# Don't rewrite URL if it already ends with .html or .xml
RewriteRule ^(.*).html$ - [L,END]
RewriteRule ^(.*).xml$ - [L,END]

# Rewrite /feed/ to /feed.xml to keep compat with Wordpress
RewriteCond %{REQUEST_URI} ^/feed/$
RewriteRule ^(.*)/$ /feed.xml [L,END]

# Rewrite /some/path/feed to /some/path/feed.xml
RewriteCond %{REQUEST_URI} ^(.*)/feed$
RewriteRule ^(.*)$ $1/feed.xml [L,END]

# If the path does not end with "/", redirect to it
# (this is needed for ISSO to correctly detect URLs)
RewriteCond %{REQUEST_URI} !^(.*)/$
RewriteRule ^(.*)$ $1/ [R=301,END]

# If path ends with "/", and does not refer to an existing folder, replace the slash with .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.*)/$
RewriteRule ^(.*)/$ $1.html [L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
