<div class="share-bar">
    <a href="https://www.facebook.com/sharer/share.php?u={{site.url}}{{site.baseurl}}{{post.url}}"
       class="share-facebook" alt="Share on Facebook" title="Share on Facebook">
        <span>Share on Facebook</span>
    </a>
    <a href="https://www.twitter.com/home?status={{site.url}}{{site.baseurl}}{{post.url}}"
       class="share-twitter" alt="Share on Twitter" title="Share on Twitter">
        <span>Share on Twitter</span>
    </a>
    <a href="https://www.reddit.com/submit?url={{site.url}}{{site.baseurl}}{{post.url}}"
       class="share-reddit" alt="Share on Reddit" title="Share on Reddit">
        <span>Share on Reddit</span>
    </a>
</div>
