<div class="share-bar">
    <h3 class="sb-title">Share this</h3>
    <ul>
        <li class="share-facebook">
            <a href="https://www.facebook.com/sharer/share.php?u={{site.url}}{{site.baseurl}}{{post.url}}"
                target="_blank" alt="Share on Facebook" title="Click to share on Facebook" class="social-logo social-logo__facebook">
                <span></span>
                <span class="screen-reader-text">Click to share on Facebook (opens in new window)</span>
            </a>
        </li>
        <li class="share-twitter">
            <a href="https://www.twitter.com/home?status={{site.url}}{{site.baseurl}}{{post.url}}"
                target="_blank" alt="Share on Twitter" title="Click to share on Twitter" class="social-logo social-logo__twitter-alt">
                <span></span>
                <span class="screen-reader-text">Click to share on Twitter (opens in new window)</span>
            </a>
        </li>
        <li class="share-reddit">
            <a href="https://www.reddit.com/submit?url={{site.url}}{{site.baseurl}}{{post.url}}"
                target="_blank" alt="Share on Reddit" title="Click to share on Reddit" class="social-logo social-logo__reddit">
                <span></span>
                <span class="screen-reader-text">Click to share on Reddit (opens in new window)</span>
            </a>
        </li>
    </ul>
</div>