

.main-menu-container {

    text-align: left;
    text-transform: uppercase;
    font-weight: bold;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    .main-menu {
        display: none;
        border-top: 5px solid #303030;

        li {
            position: relative;
            margin: 0;
            padding: 0;

            .dropdown-icon {
                display: block;
                position: absolute;
                top: 2.5px;
                right: 5px;
                height: 39px;
                width: 39px;
                z-index: 2;
                background: #c0392b;
            }

            .dropdown-icon:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 15px;
                margin-top: -2.5px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #fff;
            }

            a {
                display: block;
                position: relative;
                padding: 10px 40px;
                text-decoration: none;
                color: #FFF;
            }

            ul {
                display: none;
                padding: 2.5px 0;
                margin: 2.5px 0;
                border-top: 5px solid #303030;
                border-bottom: 5px solid #303030;

                a {
                    padding-left: 60px;
                }
            }

            a.open + ul {
                display: block;
            }
        }
    }
}

#sitenav.open .main-menu {
    display: block;
}