#sitenav {
    border-bottom: 5px solid #303030;

    @media only screen and (min-width: 959px) {
        display: block;
        position: relative;
        width: 300px;
        padding-top: 10px;
        margin-left: -40px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: none;
    }

    .menu-toggle {
        background: #c0392b;
        margin: 0 auto;
        width: 100%;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;

        @media only screen and (min-width: 959px) {
            display: none;
        }
    }

    .main-menu-container {
        text-align: left;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;
        }

        a:hover {
            background-color: #c0392b;
        }

        .main-menu {
            @media only screen and (max-width: 959px) {
                display: none;
                border-top: 5px solid #303030;
            }

            li {
                position: relative;
                margin: 0;
                padding: 0;

                .dropdown-icon {
                    display: block;
                    position: absolute;
                    top: 2.5px;
                    right: 5px;
                    height: 39px;
                    width: 39px;
                    z-index: 2;
                    background: #c0392b;
                }

                .dropdown-icon:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    margin-top: -2.5px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #fff;
                }

                a {
                    display: block;
                    position: relative;
                    padding: 10px 40px;
                    text-decoration: none;
                    color: #FFF;
                }

                ul {
                    display: none;
                    padding: 2.5px 0;
                    margin: 2.5px 0;
                    border-top: 5px solid #303030;
                    border-bottom: 5px solid #303030;

                    a {
                        padding-left: 60px;
                    }
                }

                a.open + ul {
                    display: block;
                }
            }

            li.active {
                background-color: #303030;
            }
        }
    }

    @media only screen and (min-width: 959px) {
        .menu-bottom {
            border-bottom: 15px double #c0392b;
            width: 220px;
            margin: auto;
            padding-top: 10px;
        }
    }
}

#sitenav.open .main-menu {
    display: block;
}
