.pagination {
    padding: 20px 40px;
    margin: 0 0 40px -40px;
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    .pagination-previous {
        float: right;
        width: 50%;
        text-align: right;

        a {
            padding-right: 22px;
        }
        .genericon {
            right: 0;
        }
    }

    .pagination-next {
        float: left;
        width: 50%;

        a {
            padding-left: 22px;
        }
        .genericon {
            left: 0;
        }
    }

    .genericon {
        font-size: 6px;
        height: 6px;
        width: 12px;
        line-height: 1;
        top: 50%;
        margin-top: -4px;
        position: absolute;
    }

    a {
        display: inline-bloock;
        position: relative;
        text-decoration: none;
        color: #303030;
    }
}