@import 'social-logos';
@import 'social';
@import 'pagination';
@import 'post-preview';
@import 'menu';
@import 'sidebar';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext');


html {
    font-size: 62.5%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 40px 0 0;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #656565;

    background: #fff;

    @media only screen and (min-width: 767px) {
        background-image: url('/background/carina-nebula-webb-1024.jpg');
        background-position: right center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        background-color: #303030;
    }

    @media only screen and (min-width: 1670px) {
        background-image: url('/background/carina-nebula-webb-2048.jpg');
    }
}

body:after,
body:before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 200%;
}

body:after {
    left: 0;
    width: 300px;
    background: #e74c3c;
}

body:before {
    width: 100px;
    background: #303030;
    @media only screen and (min-width: 767px) {
        left: 300px;
    }
}

body.sidebar-closed:after {
    left: 0;

    @media only screen and (max-width: 767px) {
        content: unset;
    }
    @media only screen and (min-width: 767px) {
        width: 40px;
    }
    @media only screen and (min-width: 959px) {
        width: 300px;
    }
}

body.sidebar-closed:before {
    @media only screen and (min-width: 767px) {
        left: 40px;
    }
    @media only screen and (min-width: 959px) {
        left: 300px;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    clear: both;
}

p {
    margin-bottom: 20px;
}

a {
    color: #e74c3c;
    transition: all 0.25s ease-in-out;
}

a svg {
    path, polygon {
        transition: all 0.25s ease-in-out;
    }
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:focus,
a:active,
a.post-title:hover,
#head h1.title a.site-title:hover {
    color: #c0392b;
    outline: 0;

    svg path,
    svg polygon {
        fill: #c0392b;
    }
}

article,
header {
    display: block;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}


.sidebar-closed {
    #page {
        width: 100%;

        @media only screen and (min-width: 767px) {
            width: 680px;
        }
        @media only screen and (min-width: 959px) {
            width: 940px;

            #sidebar {
                position: relative;
                float: left;
                width: 300px;
                padding: 0 40px;
                box-sizing: border-box;
            }
        }
        @media only screen and (min-width: 1220px) {
            width: 1200px;
        }
    }

    #head {
        margin-right: 0;

        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    }

}

#page {
    z-index: 1;
    margin: 0;
    width: 940px;
}

#head {
    background-color: #e74c3c;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;

    @media only screen and (max-width: 959px) {
        float: right;
        padding-top: 40px;
        margin-top: -40px;
        width: 540px;
    }
    @media only screen and (max-width: 767px) {
        width: 640px;
    }

    #branding {
        padding-bottom: 20px;

        @media only screen and (min-width: 959px) {
            border-bottom: 15px double #c0392b;
        }
    }
    h1.title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 5px;

        a {
            color: #FFF;
            text-decoration: none;
        }
    }
    h2.subtitle {
        font-size: 12px;
        line-height: 1.3;
        margin: 0;
        text-transform: uppercase;
        font-weight: normal;
    }
}



#page:before {
    @media only screen and (min-width: 959px) {
        content: '';
        width: 540px;
        display: block;
        position: fixed;
        top: 0;
        left: 400px;
        height: 100%;
        background: #fff;
        z-index: -1;
    }
    @media only screen and (min-width: 1220px) {
        width: 800px;
    }
}


#content {
    #primary {
        padding: 0 40px;
        background-color: #fff;
        box-sizing: border-box;
        float: right;
        width: 540px;

        @media only screen and (max-width: 767px) {
            padding-left: 0;
            width: 600px;
        }
        @media only screen and (min-width: 1220px) {
            width: 800px;
        }
    }

    .page-header h1 {
        padding: 15px 40px;
        margin: 0 0 40px -40px;
        background: #202020;
        width: 100%;
        display: block;
        color: #FFF;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
    }

    img {
        max-width: 100%;

        &.center {
            display: block;
            margin: auto;
        }
    }

    .left {
        float: left;
        margin-right: 15px;
    }

    .right {
        float: right;
        margin-left: 15px;
    }

    .clear {
        clear: both;
        display: table;
    }
}

#content:after {
    content: '';
    clear: both;
    display: table;
}

.sidebar-closed {
    #content {
        #primary {
            @media only screen and (max-width: 767px) {
                width: 100%;
                height: auto;
                padding: 0 40px;
                box-sizing: border-box;
            }
        }
    }
}


.images {
    clear: both;
}

.image {
    max-width: 100%;
    margin: 0;
    figcaption {
        text-align: center;
        width: 100%;
    }

}
.image.left{
    float: left;
    width: calc(50% - 15px);
    margin-right: 15px;
    margin-bottom: 10px;
}
.image.right {
    float: right;
    width: calc(50% - 15px);
    margin-left: 15px;
    margin-bottom: 10px;
}

.image-small {
    display: block;
    width: 30%;
    figcaption {
        text-align: center;
        width: 100%;
    }
    margin: auto;
}

.genericon {
    display: inline-block;
    vertical-align: middle;
}