.share-bar {

    .sb-title {
        color: #303030;
        font: bold 11px/1.5 Montserrat, sans-serif;
        text-transform: uppercase;
        margin: 0 0 1em 0;
        display: inline-block;
    }

    .sb-title:before {
        content: '';
        display: block;
        width: 100%;
        min-width: 30px;
        border-top: 1px solid #ddd;
        margin-bottom: 1em;
    }

    ul {
        padding: 0;
        margin: 0 0 .7em 0;
        list-style: none;
        display: flex;

        li {
            margin: 0 5px 5px 0;
            padding: 0;

            a {
                border-radius: 50%;
                border: 0;
                padding: 7px;
                text-decoration: none;
                display: block;
                width: 20px;
                height: 20px;

                .sharing-screen-reader-text {
                    clip: rect(1px,1px,1px,1px);
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    overflow: hidden;
                }
            }
        }
    }

    .share-facebook {
        a {
            background: #3b5998;
            color: #fff;
        }
    }
    .share-twitter {
        a {
            background: #00acee;
            color: #fff;
        }
    }
    .share-reddit {
        a {
            background-color: #cee3f8;
            color: #555;
        }
    }
    .share-mastodon {
        a {
            background-color: #6364ff;
            color: #fff;
        }
    }
}