<article class="post-preview">
    <header>
        <h1><a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a></h1>
        {{ if .Params.thumbnail }}
        <div class="thumbnail">
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            <img src="/{{ .Params.thumbnail }}" alt="Post thumbnail">
            </a>
        </div>
        {{ end }}
        <span class="badge">
            {{ partial "genericon" "standard" }}
        </span>
    </header>
    <div class="post-preview-content">
    {{ .Content }}
    </div>
    <footer class="post-preview-footer">
        <div class="post-preview-social">
            {{ partial "share-bar.html" . }}
        </div>
        <div class="post-preview-metadata">
            <ul>
                <li>
                    {{ partial "genericon" "month" }}
                    <span class="screen-reader-text">Date</span>
                    <a href="{{ .Permalink }}" rel="bookmark">{{ .Date | time.Format "January 2, 2006" }}</a>
                </li>
                {{ if .Params.Tags }}
                <li>
                    {{ partial "genericon" "tag" }}
                    <span class="screen-reader-text">Tags</span>
                    {{ $numTags := len .Params.Tags }}
                    {{ range $index, $tag := .Params.Tags }}
                        <a href="/tag/{{ $tag | urlize }}/" rel="tag">{{ $tag }}</a>
                        {{- if ne (add $index 1) ($numTags) }},{{ end }}
                    {{ end }}
                </li>
                {{ end }}
                <li>
                    {{ partial "genericon" "comment" }}
                    <a href="{{ .Permalink }}#isso-thread">Comments</a>
                </li>
            </ul>
        </div>
    </footer>
</article>
