<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="/assets/css/style.css">

    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}">
    {% endif %}
    {% feed_meta %}
    {% taxon_feed_meta %}

</head>
<body class="sidebar-closed" onLoad="responsiveDOM()">
<div id="page">
    <!-- sidebar -->
    {%include sidebar.html %}
    <!-- end of sidebar -->

    <!-- header -->
    <header id="head">
        <div id="branding">
            <h1 class="title"><a href="{{ site.baseurl }}" class="site-title">{{site.title}}</a></h1>
            <h2 class="subtitle">{{site.subtitle}}</h2>
        </div>
 
        {% include menu.html %}
    </header>
    <div class="head-placeholder"></div>
    <!-- end of header -->


    <!-- page content -->
    <div id="content">
        <div id="primary">
            <main id="main">
                <!-- content -->
                {{ content }}
                <!-- end of content -->
            </main>
        </div>
    </div>
    <!-- end of page content -->

    <!-- footer -->
    <footer id="footer">

    </footer>
    <!-- end of footer -->
</div>
<script src="/assets/js/menu.js"></script>
<script data-isso="/isso" src="/isso/js/embed.min.js" data-isso-lang="en" data-isso-reply-to-self="true"
        data-isso-require-author="true" data-isso-require-email="true"></script>
</body>
</html>
